.container{
    padding-top: 20px;
}

.card-header{
    background: #9CCC65;
    color: #212529;
}

.form{
    background-color: #FFB74D;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
}

.form:hover{
    background-color: #FBC02D;
}

img{
    width: 100px;
    height: 100px;
}

h1{
    font-family: 'Times New Roman';
}

h2{
    font-family: 'Comic Sans MS';
}

tbody tr:hover{
    background-color: white;
    transform: scale(1.01);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.7);
}